# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Visual Studio workspace and metadata files
.vs/
*.db
*.sqlite
*.wsuo
*.vsdx
*.user
*.cache
*.pdb

# Workspace state and layout files
src/.vs/
src/**/*.wsuo
src/**/*.db
src/**/*.sqlite
src/**/*.vsdx
src/**/*.json
